.gradle/
.tmp/
.idea/
.vscode/
build/
dist/backups/
run/
out/
config/
crash-reports/
logs/
saves/
*.iml
*.ipr
*.iws
*.log
*.lnk
*.DS_Store
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
